<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Project Assignment Application </title>
    <link rel="stylesheet" href="style.css">
</head>
<body class="head">
   <h1 style=" text-align: center;">Project Assignment Application</h1>
   <br>
   <div class="content">
    <form action="result">
        <div class="content">
    Tasks: <input type = "number" name = "task" required><br>




</div>
    <br>
    <br>
    Experience: <input type = "number" name = "experience" required><br> 
    <br>
    <br>
    <input type ="submit"> 

   </form>
   </div>
</body>
</html>
